/* Área de conteúdo */
.content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px); /* Calcula a altura total menos a altura da header */
    padding: 0;
    overflow: hidden; /* Remove qualquer rolagem dentro da área de conteúdo */
    background-color: #fff;
    box-sizing: border-box; /* Garante que o padding e border sejam incluídos no cálculo da altura */
}

/* Ajuste para o iframe ocupar todo o espaço restante */
.content iframe {
    flex-grow: 1; /* Faz o iframe crescer e ocupar o espaço restante */
    width: 100%; /* Largura total */
    height: 100%; /* Altura total disponível */
    border: none; /* Remove a borda do iframe */
}

