{% load static %}

<header class="main-header">
    <!-- Agrupar o menu e logo -->
    <div class="menu-logo-container">
      <div class="menu-icon" onclick="toggleSidebar()">
        <img src="{% static 'img/SubMenu.png' %}" alt="Menu" class="menu-icon-img">
      </div>
      <img src="{% static 'img/MV.png' %}" alt="Logo MV" class="logo-mv">
    </div>
  
    <!-- Título centralizado -->
    <h1>{{ title }}</h1>
  
    <div class="user-info">
      <span class="dropdown-trigger">{{ request.user.first_name }} {{ request.user.last_name }}</span>
      <img src="{% static 'img/Usuario.png' %}" alt="Usuário" class="usuario">
  
      <div class="dropdown-content">
        <form method="get" action="{% url 'dashboard:dashboard_view' 'arafarialima' %}">
          <button type="submit" class="dropdown-button">Home</button>
        </form>
  
        <form method="get" action="{% url 'profile' %}">
          <button type="submit" class="dropdown-button">Configurações</button>
        </form>
  
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="dropdown-button">Sair</button>
        </form>
      </div>
    </div>
  </header>
  
  <div class="sidebar">
    <ul>
      <li>
        <img src="{% static 'img/AraFariaLima.png' %}" alt="Dashboard Icon" class="dashboard-icon">
        <a href="{% url 'dashboard:dashboard_view' 'arafarialima' %}">Ara Faria Lima</a>
      </li>
      <li>
        <img src="{% static 'img/TI.png' %}" alt="Dashboard Icon" class="dashboard-icon">
        <a href="{% url 'dashboard:dashboard_view' 'chamados_ti' %}">Chamados T.I</a>
      </li>
      <li>
        <img src="{% static 'img/DP.png' %}" alt="Dashboard Icon" class="dashboard-icon">
        <a href="{% url 'dashboard:dashboard_view' 'dp_rh' %}">DP - RH</a>
      </li>
      <li>
        <img src="{% static 'img/Financeiro.png' %}" alt="Dashboard Icon" class="dashboard-icon">
        <a href="{% url 'dashboard:dashboard_view' 'financeiro_mv' %}">Financeiro MV</a>
      </li>
      <li>
        <img src="{% static 'img/Gerenciamento.png' %}" alt="Dashboard Icon" class="dashboard-icon">
        <a href="{% url 'dashboard:dashboard_view' 'financeiro_gerenciamento' %}">Financeiro Gerenciamento</a>
      </li>
      <li>
        <img src="{% static 'img/Visna.png' %}" alt="Dashboard Icon" class="dashboard-icon">
        <a href="{% url 'dashboard:dashboard_view' 'financeiro_visna' %}">Financeiro Visna</a>
      </li>
      <li>
        <img src="{% static 'img/Indicadores.png' %}" alt="Dashboard Icon" class="dashboard-icon">
        <a href="{% url 'dashboard:dashboard_view' 'indicadores' %}">Indicadores Financeiros</a>
      </li>
      <li>
        <img src="{% static 'img/Processos.png' %}" alt="Dashboard Icon" class="dashboard-icon">
        <a href="{% url 'dashboard:dashboard_view' 'processos_mv' %}">Processos MV</a>
      </li>
      <li>
        <img src="{% static 'img/Suprimentos.png' %}" alt="Dashboard Icon" class="dashboard-icon">
        <a href="{% url 'dashboard:dashboard_view' 'suprimentos' %}">Suprimentos</a>
      </li>
      <li>
        <img src="{% static 'img/Indices.png' %}" alt="Dashboard Icon" class="dashboard-icon">
        <a href="{% url 'dashboard:dashboard_view' 'indices' %}">Índices</a>
      </li>
      <li>
        <img src="{% static 'img/Dashboard.png' %}" alt="Dashboard Icon" class="dashboard-icon">
        <a href="{% url 'dashboard:dashboard_view' 'quadro_oferta' %}">Quadro de Oferta</a>
      </li>
    </ul>
</div>

  
  <script>
    // Função para alternar a exibição da sidebar
    function toggleSidebar() {
      var sidebar = document.querySelector('.sidebar');
      sidebar.classList.toggle('visible');
    }
  </script>
  