{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Perfil</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    <header class="main-header">
        <div class="title">Atualizar Perfil</div>
        <img src="{% static 'img/MV.png' %}" alt="Logo MV" class="mv-logo">
    </header>

    <div class="profile-container">
        <form method="POST">
            {% csrf_token %}
            <div class="form-section">
                <h2>Informações de Perfil</h2>

                <label for="username">Nome de usuário:</label>
                <input type="text" id="username" name="username" value="{{ user.username }}" required>

                <label for="first_name">Nome:</label>
                <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" required>

                <label for="last_name">Sobrenome:</label>
                <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" required>

                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" value="{{ user.email }}" required>
            </div>

            <div class="form-section">
                <h2>Alterar Senha</h2>

                <label for="old_password">Senha atual:</label>
                <input type="password" id="old_password" name="old_password">

                <label for="new_password">Nova senha:</label>
                <input type="password" id="new_password" name="new_password">

                <label for="new_password_confirmation">Confirme a nova senha:</label>
                <input type="password" id="new_password_confirmation" name="new_password_confirmation">
            </div>

            <button type="submit">Salvar Alterações</button>
        </form>
    </div>
</body>
</html>
